body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    font-family: 'Bungee', sans-serif;
    color: white;
    overflow: hidden;
}

#container {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 4em; 
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%; 
    white-space: nowrap;
}

#terminal {
    width: 90%;
    max-width: 600px;
    height: 300px;
    background: #111;
    border: 2px solid #00FF00;
    padding: 20px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    margin: 0 auto;
    position: relative;
    overflow-y: scroll;
}

#output {
    display: flex;
    flex-wrap: wrap;
}

#log {
    white-space: pre-wrap;
    overflow: hidden;
}

#cursor {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #00FF00;
    font-size: 2em;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* Reduz o tamanho do texto em telas menores */
    }

    #terminal {
        height: 200px; /* Reduz a altura do terminal em celulares */
        padding: 15px;
        font-size: 0.8em; /* Diminui a fonte no terminal */
    }

    #cursor {
        font-size: 1.5em; /* Ajusta o tamanho do cursor para telas menores */
    }

    #output {
        flex-direction: column; /* Ajusta a saída para não quebrar em telas menores */
    }
}
